.container_banner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_banner img {
    width: auto;
    height: auto;
}

.container_texto {
    width: 100%;
    height: inherit;
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}