body {
    width: 100%;
    margin: 0;
    background-color: #F4F0E5;
    font-family: Tahoma;
}

.secao {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo {
    width: 200px;
}

a {
    margin: 0 10px;
    color: #542F0C;
}

h1 {
    font-size: 28px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid #DE8E37;
}

h2 {
    font-weight: normal;
    color: #DE8E37;
    margin-top: 10px;
}

.imagem-banner {
    width: 100%;
}

.secao-destaque {
    background-color: #DE8E37;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #FFFFFF;
}

.secao-destaque h3 {
    font-size: 24px;
}

.secao-destaque h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-destaque p {
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}

.secao-destaque img {
    width: 60%;
}

span {
    font-weight: bold;
}
