body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secao-topo {
    background-image: url('../img/capa.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    text-align: center;
    padding: 50px;
}

.secao-topo h1, .secao-topo h2 {
    color: #ffffff;
    padding: 10px 5px;
    margin: 0 auto;
    width: 250px;
}

.secao-topo h1 {
    margin: 0 auto;
    background-color: #000000;
    font-size: 18px;
}

.secao-topo h2 {
    font-size: 16px;
    background-color: #ff0000;
}

.secao-conteudo {
    text-align: center;
}

.secao-divulgacao {
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

.secao-sinopse h3 {
    text-align: center;
}

.secao-sinopse p {
    text-align: justify;
    line-height: 28px;
    padding: 20px;
}

.secao-sinopse .destaque {
    margin-left: 10px;
    text-align: center;
    width: 200px;
    background-color: #ff0000;
    color: #ffffff;
}