body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

div {
    width: 500px;
    margin: 30px auto;
}

h1 {
    font-size: 28px;
}

img {
    width: 500px;
    border: 5px solid #009200;
}

p {
    font-size: 18px;
    text-align: justify;
}
span {
    font-size: 18px;
    border-left: 3px solid #009200;
    border-bottom: 3px solid #009200;
}
